








/* Css





/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░       Our story       ░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */





/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░░                   ░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */


/* █████████████████████████████████████████████████ */
/* ████████████████                 ████████████████ */
/* █████████████████████████████████████████████████ */


header article {
  z-index: 50;
  
  position: absolute;

  top: calc(15% - 1em);
  left: calc(50% - 12.5em);

  text-align: center;

  width: 25em;

}

header article h1, h4 {
  font-family: 'twix';
  color: var(--twix-primary-heading-color);
}

header article h1 {
  text-transform: capitalize;
}

header > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: 50% 50%;
}










/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░                    ░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */


/* █████████████████████████████████████████████████ */
/* █████████████  Section 1, container  ████████████ */
/* █████████████████████████████████████████████████ */


main section:first-of-type {
  display: flex;
  justify-content: center;

}

/* █████████████████████████████████████████████████ */
/* ███████████     Section 1, inhoud     ███████████ */
/* █████████████████████████████████████████████████ */

main section:first-of-type h3 {
  max-width: 17em;

  font-family: 'ag book';
  font-size: 27px;

  line-height: 42px;
  letter-spacing: 0.5px;

  text-align: center;
  text-transform: unset;
}









/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░                    ░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */


/* █████████████████████████████████████████████████ */
/* █████████████  Section 2, container  ████████████ */
/* █████████████████████████████████████████████████ */

/* >:) */

/* █████████████████████████████████████████████████ */
/* ███████████     Section 2, inhoud     ███████████ */
/* █████████████████████████████████████████████████ */

main section:nth-of-type(2) article {
  height: 40em;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

main section:nth-of-type(2) article h2 {
  font-family: 'glowworm';
  font-size: 40px;
  font-weight: inherit;

  text-transform: uppercase;

  max-width: 11em;

  padding: 0;
  margin: .2em 0 0 0;

  color: var(--twix-primary-heading-color);
}

main section:nth-of-type(2) p {
  text-align: left;

  max-width: 23em;

  color: var(--twix-primary-body-text-color);
}

main section:nth-of-type(2) article img {
  height: 16em;

  order: -1;
}

/* Van alle articles in de main, krijgen de oneven genummerde een cirkel als achtergrond */
main section:nth-of-type(2) article:nth-child(odd) {
  margin-left: 3em;

  background-image: 
  radial-gradient(circle at center 32%,var(--twix-tertiary-color) 39%, transparent 35%),
  radial-gradient(var(--white), var(--white));

  background-position: -2em;
}

/* Van alle articles in de main, hebben de even genummerde ruimte aan de linkerkant */
main section:nth-of-type(2) article:nth-child(even) {
  margin-left: 1.5em;
}

/* Van alle articles in de main, neemt de afbeelding 85% in de breedte van zijn geheel */
main section:nth-of-type(2) article:nth-child(even) img {
  width: 85%;
}










/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░                    ░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */


/* █████████████████████████████████████████████████ */
/* █████████████  Section 3, container  ████████████ */
/* █████████████████████████████████████████████████ */


main section:nth-of-type(3) {
  width: 100vw;
  height: 35em;

  display: flex;
  align-items: center;

}

/* █████████████████████████████████████████████████ */
/* ███████████     Section 3, inhoud     ███████████ */
/* █████████████████████████████████████████████████ */

main section:nth-of-type(3) article {
  z-index: 50;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main section:nth-of-type(3) article h3 {
  font-size: 14px;
  
  color: var(--twix-secondary-heading-color);
}

main section:nth-of-type(3) article h2 {
  font-family: 'glowworm';
}

main section:nth-of-type(3) article p {
  color: var(--twix-secondary-body-text-color);
}

main section:nth-of-type(3) > img {
  position: absolute;

  width: 100%;
  height: 35em;

  filter: brightness(50%);

  object-fit: cover;
  object-position: 50%;
}










/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░                    ░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */


/* █████████████████████████████████████████████████ */
/* █████████████  Section 4, container  ████████████ */
/* █████████████████████████████████████████████████ */


main section:nth-of-type(4) {
  width: auto;
  min-height: 60em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;

  text-transform: uppercase;
  text-align: center;

  border-bottom: .3em solid var(--indicator-color);
  background-color: var(--twix-tertiary-color);
}

/* █████████████████████████████████████████████████ */
/* ███████████     Section 4, inhoud     ███████████ */
/* █████████████████████████████████████████████████ */

main section:nth-of-type(4) h2 {
  font-family: 'glowworm';

  margin-bottom: 3em;

  color: var(--twix-primary-heading-color);
}

main section:nth-of-type(4) article {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

main section:nth-of-type(4) article p {
  font-size: 16px;

  text-transform: lowercase;
}

main section:nth-of-type(4) article img {
  order: -1;

  width: 22em;
  height: auto;

  transition: .4s ease-in-out; 
}

/* Afbeeldingen vergroten tijdens hover */
main section:nth-of-type(4) article img:hover {
  transform: scale(1.1);
}

/* Zodat de woorden Left en Right op een aparte regel komen */
main section:nth-of-type(4) article span {
  display: block;
}

/* Klikbare titels */
main section:nth-of-type(4) article a:first-of-type {
  font-size: 20px;

  text-align: center;
  text-transform: uppercase;

  color: var(--twix-tertiary-button-text-color);
  background-color: transparent;
  background-image: none;

  margin: .5em 0 .5em 0;
}

/* Titels kleuren rood tijdens hover */
main section:nth-of-type(4) article a:first-of-type:hover {
  color: var(--twix-secondary-button-text-color);
}


/* Rode knoppen */
main section:nth-of-type(4) article a:last-of-type {
  margin-bottom: 5em;
}









/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░                    ░░░░░░░░░░░░░░░ */
/* ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░ */


/* █████████████████████████████████████████████████ */
/* █████████████  Section 5, container  ████████████ */
/* █████████████████████████████████████████████████ */


main section:nth-of-type(5) {
  display: flex;
  align-items: center;

  height: 20em;

  background-image: 
  radial-gradient(circle at right 37%,var(--twix-accent-color) 25%, transparent 25%),
  radial-gradient(var(--twix-tertiary-color), var(--twix-tertiary-color));
}

/* █████████████████████████████████████████████████ */
/* ███████████     Section 5, inhoud     ███████████ */
/* █████████████████████████████████████████████████ */

main section:nth-of-type(5) article {
  margin-left: 1.5em;
}

main section:nth-of-type(5) h2 {
  font-family: 'twix';
  font-size: 28px;
  text-transform: uppercase;

  margin: 0;

  color: var(--twix-primary-heading-color);
}

main section:nth-of-type(5) p{
  text-align: left;
  color: var(--twix-primary-body-text-color);

  margin-bottom: 3em;
}

main section:nth-of-type(5) a {
  padding: 1.2em 6em 1.2em 6em
}