/* CSS Document */
*, *::after, *::before {  
  box-sizing:border-box;  
}



/**************************************************/
/***************** Custom properties *************/
/************************************************/

:root {
	--white:#ffffff;
  --accent-grey:#F9F1DB;
  --grey:#F4F4F4;
	--black:#000000;


	--button-background-color:#E42525;
  --accent-button-background-color: #E62B1E;

  --dark-background-color:#490F00;
  --background-color:#eaaa22;
  --accent-background-color:#f7eed2;

  --accent-twix-color: #f0c66c;

  --overlay-background-color:#57BDF4;
}





/**********************************************/
/************* Algemene stijling *************/
/********************************************/

body {
  margin: 0;
  
  overflow-x: hidden;

  /* background-color: #acacac; */
}

/* Typografie */

@font-face {
  font-family: 'Twix';
  src: url('../fonts/Twix_1.woff') format('woff');
}

@font-face {
  font-family: 'Glowworm';
  src: url('../fonts/GlowwormMN-Compressed_1.woff') format('woff');
}

@font-face {
  font-family: 'Ag book';
  src: url('../fonts/AGBookRounded-Medium.woff') format('woff');
}


h1 {
  font-family: 'Glowworm';
  font-size: 40px;
  font-weight: inherit;

  text-transform: uppercase;

  color: white;
}

h2 {
  font-family: 'Twix';
  font-size: 40px;
  letter-spacing: 1.6px;
  font-weight: inherit;
  
  line-height: 40px;
  
  color: var(--white);
}

h3 {
  font-family: 'Twix';
  font-size: 22px;
  font-weight: inherit;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  
  line-height: 26px;
  
  color: var(--dark-background-color);
}

h4 {
  font-family: 'Twix';
  font-size: 14px;
  font-weight: inherit;
  letter-spacing: 1.6px;
  
  line-height: 26px;

  text-transform: uppercase;
  
  color: var(--white);
}


p {
  font-family: Ag book;
  font-size: 18px;
  font-weight: inherit;
  letter-spacing: 1.6px;
  
  line-height: 28px;
  text-align: center;
  
  color: var(--dark-background-color);
}





a {

  padding: 18px 24px 18px 24px;

  font-family: 'twix';
  font-size: 14px;
  font-weight: bold;
  
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.6px;

  color: var(--white);
  background-color: var(--button-background-color);

  border-radius: 30px;

}

button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}



main section div {
  width: 7em;
  height: 8em;

  margin-top: -12em;
  margin-bottom: 4em;

  background-color: var(--background-color);

  clip-path: polygon(0% 100%, 10% 90%, 20% 100%,
  30% 90%, 40% 100%, 
  50% 90%, 60% 100%, 
  70% 90%, 80% 100%, 
  90% 90%, 100% 100%);
}





/************************************************************/
/* Header, nav, "Explore" Left or right Twix? "  ***********/
/**********************************************************/





/* Stijlen header algemeen */

header {
  height: 30em;
  background-color: blue;
}



/* Stijling navigatie algemeen */


header nav {
  display: flex;
  flex-direction: row;

  z-index: 99;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  min-height: 5em;

  background-image: radial-gradient(var(--accent-grey), var(--background-color));
}



/* Stijling menu navigatie knoppen mobiel*/


header nav button {
  position: absolute;
}

/* Stijling Twix logo, directe home knop */
header nav button img {
  width: auto;
  height: 2.4em;
}

/* Stijling hamburger menu knop */
header nav button:first-of-type {  
  top: calc( 50% - 1.2em ); 
  left: 1em;
}

header nav button:last-of-type {
  top: calc( 50% - .5em ); 
  right: 1em;
}

header nav button:last-of-type::before {
  content: '☰';

  color: var(--button-background-color);
}



/* Stijling menu groter desktop */


header nav ul {
  list-style-type: none;
}



/* Stijling blurb header */
header article {
  position: absolute;

  top: calc(20% - 1em);
  left: 1em;

  z-index: 50;
}

header article h1 {

  max-width: 8em;
}

/* Stijling achtergrond afbeelding header */
header > img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: 45%;

  filter: brightness(50%);

}





/************************************************************/
/* Section 1, " Intro, Do you prefer Left TWIX " ***********/
/**********************************************************/

main section:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  width: auto;
  height: 15em;

  background-color: var(--white);
}

main section:first-of-type p {
  margin: .4em;
}





/************************************************************/
/* Section 2, " Double Trouble: Twix Cookies & Creme. " ****/
/**********************************************************/

main section:nth-of-type(2) {
  overflow: hidden;

  position: relative;

  display: flex;
  align-items: center;

  width: 100vw;
  height: 40em;

  background-color: var(--overlay-background-color);
}

/* Linker cirkel op de achtergrond. */
main section:nth-of-type(2)::before {

  position: absolute;
  top: -2em;
  left: -15em;

  content:'';

  display: block;

  width: 27em;
  height: 27em;

  border-radius: 50%;

  filter: opacity(20%);
  background-color: var(--white);
}

/* Rechter cirkel op de achtergrond. */
main section:nth-of-type(2)::after {

  position: absolute;
  bottom: -3em;
  right: -6em;

  content:'';

  display: block;

  width: 15em;
  height: 15em;

  border-radius: 50%;

  filter: opacity(20%);
  background-color: var(--white);
}

main section:nth-of-type(2) article {
  z-index: 50;

  display: flex;
  flex-direction: column;
}


main section:nth-of-type(2) article a {
  align-self: flex-start;
}

main section:nth-of-type(2) article img{

  width: 16em;
  height: 16em;

  order: -1;

  align-self: center;

  transform: translatey(10%);
	animation: zweven 6s ease-in-out infinite;
}

@keyframes zweven {
	0% {
		transform: translatey(10%);
	}
	50% {
		transform: translatey(-10%);
	}
	100% {
		transform: translatey(10%);
	}
}




/***********************************************/
/* Section 3, " Our products. " ***************/
/*********************************************/

main section:nth-of-type(3) {
  width: auto;
  min-height: 60em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: center;

  text-transform: uppercase;
  text-align: center;

  background-color: var(--accent-background-color);
}

main section:nth-of-type(3) h2 {
  font-family: 'glowworm';

  color: var(--dark-background-color);

  margin-bottom: 3em;
}

main section:nth-of-type(3) article {
  display: flex;
  flex-direction: column;
  
  align-items: center;
}

main section:nth-of-type(3) article img {
  order: -1;

  width: 22em;
  height: auto;

  transition: all .4s ease-in-out; 
}

main section:nth-of-type(3) article img:hover {
  transform: scale(1.1);
}


main section:nth-of-type(3) article a:first-of-type {
  display: inline-block;

  font-size: 20px;
  letter-spacing: 0.5px;

  text-align: center;
  text-transform: uppercase;

  color: var(--dark-background-color);
  background-color: transparent;

  margin: 2em 0 1.5em 0;
  padding: 0;
}

main section:nth-of-type(3) article a:first-of-type:hover {
  color: var(--button-background-color);
}

main section:nth-of-type(3) article a:last-of-type {
  margin-bottom: 5em;
}

main section:nth-of-type(3) article span {
  display: block;
}





/***********************************************************/
/* Section 4, " Twix Cookies & Creme Cheesecake Mashup. " */
/*********************************************************/

main section:nth-of-type(4) {
  display: flex;

  position: relative;
  text-align: center;

  height: 55em;
}

main section:nth-of-type(4) article {
  z-index: 50;

  position: absolute;
}

main section:nth-of-type(4) article:first-of-type h4 {
  color: var(--white);
}

main section:nth-of-type(4) article:first-of-type a {
  color: var(--button-background-color);
  background-color: var(--white);
}

main section:nth-of-type(4) article:last-of-type {

  top: 16em;
  right: calc(50% -10em);
  left: calc(50% - 10em);

  width: 21em;
  height: 33em;

  text-align: center;

  border-radius: 1.2em;

  background-image: 
    radial-gradient(circle at center 37%,var(--accent-twix-color) 25%, transparent 25%),
    radial-gradient(var(--accent-grey), var(--background-color));
}

main section:nth-of-type(4) article:last-of-type img {
  width: 16em;
  height: 16em;
}

main section:nth-of-type(4) article:last-of-type h4 {
  color: var(--dark-background-color);
}

main section:nth-of-type(4) article:last-of-type h3 {
  font-size: 22px;
  text-align: left;
  text-transform: none;

  width: 10em;

  margin-left: 1.5em;
}

main section:nth-of-type(4) article:last-of-type a {
  position: relative;
  top: 2em;

}

/* Achtergrond afbeelding */
main section:nth-of-type(4) > img {

  width: 100%;
  height: 100%;


  object-fit: cover;
  object-position: 45%;

  filter: brightness(50%);

}



/***********************************************/
/* Section 5, " All the Twix you need Twice. " */
/*********************************************/

main section:nth-of-type(5) {
  width: auto;
  height: 75em;

  background-color: var(--accent-background-color);
}

main section:nth-of-type(5) h2 {

  padding-top: 2em;
  
  margin: 0 0 3em 0;

  font-family: 'glowworm';

  text-transform: uppercase;
  text-align: center;

  color: var(--dark-background-color);
}

main section:nth-of-type(5) div {
  position: absolute;
  left: calc(50% - 4em);
}

main section:nth-of-type(5) article {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}

main section:nth-of-type(5) article img {
  width: 22 em;
  height: auto;

  order: -1;
  transition: all .4s ease-in-out; 
}

main section:nth-of-type(5) article img:hover {
  transform: scale(1.1);
}

main section:nth-of-type(5) article h3 {
  margin: 1em 0 .1em 0;
}

main section:nth-of-type(5) article p {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 22px;

  margin: 1em 0 1em 0;
}

main section:nth-of-type(5) article a {
  margin-bottom: 4em;
}





/***********************************************/
/* Section 6, " Afbeelding van Twix met hartjes. " */
/*********************************************/

main section:nth-of-type(6) {
  min-height: 60em;
  min-width: 30em;

  margin: 0;
  padding: 0;

  background-color: red;

  background-image: url("../images/twix_reep_met_hartjes.jpeg");
  background-repeat: no-repeat;
  background-position: 35%;
  background-size: auto 60em;

  background-attachment: fixed;
}





/***********************************************/
/* Section 7, " Visit us on social. " */
/*********************************************/

main section:nth-of-type(7) {
  min-height: 35em;

  margin: 0;

  display: flex;
  flex-direction: column;

  justify-content: center;

  background-color: var(--accent-background-color);
}

main section span {
  position: relative;
}


main section:nth-of-type(7) h2 {
  font-family: 'glowworm';

  text-transform: uppercase;
  text-align: center;

  color: var(--dark-background-color);
}

main section:nth-of-type(7) ul {

  display: flex;
  flex-direction: row;

  gap: 1.5em;

  background-color: none;

  overflow:auto;

  scroll-behavior: smooth;
  overscroll-behavior: contain;
  scrollbar-width: none;
}

main section:nth-of-type(7) li {
  width: 20em;
  height: 20em;

  margin: 0;
  padding: 0;

  list-style-type: none;
}

main section:nth-of-type(7) li a {
  margin: 0;
  padding: 0;

  background-color: transparent;
}

main section:nth-of-type(7) li img {
    width: 20em;
    height: 19em;

    object-fit: cover;
    border-radius: .7em;

    /* Linear gradient aan bovenkant toevoegen. */
}

main section:nth-of-type(7) button {
  position: absolute;

  width: 4em;
  height: 4em;

  margin: 0;
  padding: 0;

  border-radius: 3em;

  color: var(--button-background-color);
  background-color: var(--white);
}

main section:nth-of-type(7) button:first-of-type {
  top: calc(50% - 1em);
  left: 1em;
}

main section:nth-of-type(7) button:first-of-type::before {
  content: '⟵';
}

main section:nth-of-type(7) button:last-of-type {
  top: calc(50% - 1em);
  right: 1em;
}

main section:nth-of-type(7) button:last-of-type::before {
  content: '⟶';
}

main section div output {
  display:block;

  width: 10em;
  height: .3em;

  position: absolute;

  left: calc(50% - 5em);

  border-radius: .3em;
  
  filter: opacity(40%);
  background-color: var(--accent-button-background-color);

}
