/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}



/******************************/
/* ALGEMENE CUSTOM PROPERTIES */
/******************************/

:root {
	--white:#ffffff;
  --grey:#F4F4F4;
	--black:#000000;


	--button-background-color:#E42525;

  --dark-background-color:#490F00;
  --background-color:#eaaa22;
  --accent-background-color:#f7eed2;


  --overlay-background-color:#57BDF4;
}





/********************/
/* ALGEMENE STIJLEN */
/********************/

body {
  /* margin: 0; */

  overflow-x:hidden;
  background-color: #acacac;
}

/* Typografie */


h1 {
  font-family: arial;
  font-size: 40px;
}

h2 {
  font-family: arial;
  font-size: 40px;
  letter-spacing: 1.6px;
  
  line-height: 40px;
  
  color: var(--white);
}

h3 {
  font-family: arial;
  font-size: 20px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  
  line-height: 26px;
  
  color: var(--dark-background-color);
}

h4 {
  font-family: arial;
  font-size: 14px;
  letter-spacing: 1.6px;
  
  line-height: 26px;

  text-transform: uppercase;
  
  color: var(--white);
}


p {
  font-family: arial;
  font-size: 18px;
  letter-spacing: 1.6px;
  
  line-height: 25px;
  text-align: center;
  
  color: var(--dark-background-color);
}


/********************/
/* */
/********************/


a {

  padding: 20px 46px 20px 46px;

  font-family: arial;
  font-size: 16px;
  font-weight: bold;
  
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.6px;

  color: var(--white);
  background-color: var(--button-background-color);

  border-radius: 30px;

}


/* header {
} */

header nav {


  background-color: red;
}

main section:first-of-type {
  background-color: var(--white);
}





main section:nth-of-type(2) {
  background-color: var(--overlay-background-color);
}





main section:nth-of-type(3) {
  text-transform: uppercase;
  text-align: center;

  background-color: var(--accent-background-color);
}

main section:nth-of-type(3) h2 {

  color: var(--dark-background-color);
}

main section:nth-of-type(3) article {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}




/***********************************************************/
/* Section 4, " Twix Cookies & Creme Cheesecake Mashup. " */
/*********************************************************/

main section:nth-of-type(4){

}





/***********************************************/
/* Section 5, " All the Twix you need Twice. " */
/*********************************************/

main section:nth-of-type(5) {

  background-color: var(--accent-background-color);
}

main section:nth-of-type(5) h2 {
  text-transform: uppercase;
  text-align: center;

  color: var(--dark-background-color);
}

main section:nth-of-type(5) article {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}






